.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1A1A1D;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  overflow: inherit;
}

@media (min-width: 480px) {
  .container {
    height: 70%;
    width: 70%;
    overflow: hidden;
  }
}

@media (min-width: 576px) {
  .container {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 40%;
  }
}

@media (min-width: 1192px) {
  .container {
    width: 30%;
  }
}