.users-container {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  color: white;
}

.active-container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.active-item {
  display: flex;
  align-items: center;
}

.active-item img {
  padding-right: 10px;
  height: 10px;
}

.users-container h1 {
  margin-bottom: 0px;
}

@media (max-width: 992px) {
  .users-container {
    display: none;
  }
}